@import "tailwindcss";
@import "@fontsource/inter/latin.css";

body {
  background-color: #f5f5f5; 
  margin: 0;
  overflow-y: scroll;
}

:root {
  --font-sans: "Inter", system-ui, sans-serif;
}

.font-mont {
  font-family: "Montserrat", sans-serif;
}




